body{
   display:flex;
   justify-content: center;
}
#container{
   border:solid;
   display:flex;
   flex-direction: column;
   flex:none;
}

.row {
   display:flex;
   

}
.column {
   padding:10px;

}